.cont-1 .secondPart .bg {
  background-image: url("/assets/images/schemes/cont-1-bg.png");
  background-size: cover;
}
.cont-2 h3,
.cont-3 h3 {
  font-weight: bolder;
  font-size: 20px;
  background-color: #ff0f39c7;
  color: white;
  display: inline;
  padding: 2px 5px 5px;
  margin: 30px 0;
}
.cont-2 h4,
.cont-3 h4 {
  font-weight: bold;
  font-size: 15px;
}
.gold-products li,
.contact li {
  margin-left: 20px;
}
.gold-products li,
.contact li {
  margin: 10px 20px;
}
li span {
  font-weight: bold;
}
.cont-2 h2,
.cont-3 h2 {
  font-size: 30px;
  text-align: center;
  margin: 20px 0;
}
.cont-2 ul li p,
.cont-3 ul li p {
  margin: 10px 0 10px 20px;
}
.cont-2 ul,
.cont-3 ul {
  margin: 0 10px;
}
.active {
  display: block;
}
.schemes a {
  padding: 10px 20px;
  background-color: #9f1c24;
  cursor: pointer;
  color: #fff;
}
.schemes a:hover {
  color: #fff;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  background-color: #ff0f39c7;
}
.cont-2 .headinG,
.cont-3 .headinG {
  font-size: 24px;
  padding: 20px 20px;
  max-width: 200px;
  margin: 20px auto 100px;
  background-color: #ff0f39c7;
  color: white;
  text-align: center;
}
.cont-3 .headinG {
  font-size: 20px;
  padding: 8px;
}
.cont-2 .sub,
.cont-3 .sub {
  display: flex;
}
.cont-2 .sub .sub-head,
.cont-3 .sub .sub-head {
  width: 168px;
  margin: 10px auto;
  background-color: #9f1c24;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid black;
  box-shadow: 0px 0px 50px -15px black;
  font-size: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  color: #fff;
}
.cont-2 .line,
.cont-3 .line {
  display: block;
  position: absolute;
  height: 111px;
  top: 76px;
  border-left: 2px solid black;
  left: 50%;
}
.cont-2 .l-1,
.cont-3 .l-1 {
  left: 425px;
  top: 35%;
  height: 259px;
  transform: rotate(90deg);
}
.cont-2 .l-3,
.cont-3 .l-3 {
  right: 215px;
  transform: rotate(90deg);
  top: 106%;
  height: 263px;
}
.cont-3 .l-4 {
  left: 50%;
  transform: rotate(180deg);
  top: 96%;
  height: 113px;
}
.cont-4 .headinG {
  padding: 23px;
}
a.headinG {
  padding: 5px;
  display: block;
  margin: 100px auto 0 !important;
  background-color: red;
  color: white;
  border-radius: 5px;
}
@media screen and (max-width: 768px) and (min-width: 300px) {
  .cont-2 h2,
  .cont-3 h2 {
    font-size: 24px;
  }
  /* .cont-1 .secondPart .flex {
    width: 500px;
  } */
  .cont-2 .line,
  .cont-3 .line {
    display: none;
  }
  .cont-2 .sub,
  .cont-3 .sub {
    flex-direction: column;
  }
  .cont-2 .headinG,
  .cont-3 .headinG {
    margin: 20px auto;
  }
  .schemes a {
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .schemes {
    margin: 0 1% 20px;
  }
}
