.card {
  flex-direction: column;
  width: 150px;
  margin: 0 30px;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s linear;
  display: flex;
}
img {
  width: 60%;
  height: auto;
}