<div class="space-top"></div>
<div class="md:flex">
    <div class="links flex flex-col">
        <button (click)="toggleDiv(0)">Add Banner</button>
        <button (click)="toggleDiv(1)">Add Product</button>
        <button (click)="toggleDiv(2)">Edit Products</button>
        <button (click)="toggleDiv(3)">Delete Banner</button>
        <button (click)="toggleDiv(4)">Add Gold Rate</button>
        <button (click)="toggleDiv(5)">Add Delivery Charges</button>
        <button (click)="toggleDiv(6)">Update Delivery Charges</button>
        <button (click)="toggleDiv(7)">Update Product By Id</button>
    </div>
    <div *ngIf="selectedDiv === 0" class="content">
        <h2>Add New Banner image</h2>
        <form #banner="ngForm" (ngSubmit)="addBanner()">
            <input type="file" (change)="onBannerUpload($event, 'image')" name="image" />
            <button class="bg-rose-500 px-5 py-3 text-white rounded w-full bo-ra5 cupo">
                ADD BANNER
            </button>
        </form>
    </div>
    <div *ngIf="selectedDiv === 1" class="md:w-2/5 content flex items-center flex-col">
        <h2>Add New Product</h2>
        <form [formGroup]="Product" (ngSubmit)="addProduct()" class="w-full">
            <label>Enter Product Name :</label>
            <input type="text" placeholder="Enter Product Name" formControlName="name" />
        
            <label>Upload Display Image:</label>
            <input type="file" (change)="onDisplayUpload($event, 'imageDis')" />
        
            <label>Upload Hover Image:</label>
            <input type="file" (change)="onHoverUpload($event, 'imageHov')" />
        
            <label>Enter Product Description :</label>
            <textarea formControlName="description" placeholder="Product Description"></textarea>
        
            <label>Enter Product Metal Type :</label>
            <input type="text" placeholder="Enter Metal Type" formControlName="metalType" />
        
            <label>Enter Product Category :</label>
            <input type="text" placeholder="Category1, Category2, .." formControlName="category" />
        
            <label>Enter Product Price :</label>
            <input type="number" placeholder="Enter Product Price" formControlName="price" />
        
            <label>Enter Product Weight :</label>
            <input type="number" placeholder="Enter Product Weight in grams" formControlName="weight" />
        
            <label>Enter Product Making Charges in Rs :</label>
            <input type="number" placeholder="Making Cost in Rs" formControlName="mc" />
        
            <label>Enter Product Size :</label>
            <input type="number" placeholder="Size of Product" formControlName="size" />
        
            <label>Enter Product available stock :</label>
            <input type="number" placeholder="Stock Available" formControlName="stock" />
        
            <label>Enter Product Wastage in percentage :</label>
            <input type="number" placeholder="Wastage in %" formControlName="wastage" />
        
            <button type="submit" class="bg-rose-500 px-5 py-3 text-white rounded w-full">
                Add Product
            </button>
        </form>
    </div>
    <div *ngIf="selectedDiv === 2" class="content delete">
        <h2>Can delete or edit our shop products</h2>
        <ul class="text-xl text-white">
            <li class="mr-9">
                <a (click)="toDeleteItem('gold')">Gold</a>
            </li>
            <li class="mr-9">
                <a (click)="toDeleteItem('silver')">Silver</a>
            </li>
            <li class="mr-9">
                <a (click)="toDeleteItem('diamond')">Diamond</a>
            </li>
            <li class="mr-9">
                <a (click)="toDeleteItem('coin')">Coins</a>
            </li>
            <li class="mr-9">
                <a (click)="toDeleteItem('idol')">Idol</a>
            </li>
        </ul>
        <table class="mx-w mx-auto w-3/4">
            <tbody>
                <tr class="bg-rose-500 text-white">
                    <th>Image</th>
                    <th>Name</th>
                    <th class="hidden md:block">Weight</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let data of products" class="text-center border-b-2">
                    <td class="" *ngIf="data.metalType?.includes(toDelete)">
                        <img class="mx-auto w-20 h-20 object-cover rounded-full"
                            src="{{baseurl}}/uploads/{{ data.imageDis }}" [alt]="data.name" />
                    </td>
                    <td class="w-2/5" *ngIf="data.metalType?.includes(toDelete)">
                        <a routerLink="/products/{{ data.id }}">{{ data.name }}</a>
                    </td>
                    <td class="hidden md:block" *ngIf="data.metalType?.includes(toDelete)">
                        {{ data.weight }} gms
                    </td>
                    <td class="mt-5" *ngIf="data.metalType?.includes(toDelete)">
                        <button class="cupo remove-button" (click)="deleteProduct(data.id)">
                            <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
                        </button>
                        <br>
                        <button class="cupo remove-button" routerLink="/update/{{data.id}}">
                            <i class="fa fa-edit fa-2x" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="selectedDiv === 3" class="content">
        <h2>Delete old Banner Image</h2>
        <div class="flex my-4 items-center w-11/12 justify-around" *ngFor="let data of bannerImg">
            <div class="image">
                <img src="{{baseurl}}/uploads/{{ data.image }}" alt="" />
            </div>
            <p>{{ data.image }}</p>
            <button class="cupo remove-button" (click)="deleteBanner(data.id)">
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="content" *ngIf="selectedDiv === 4">
        <h2>Add Today's gold rate and silver rate</h2>
        <form [formGroup]="goldSilver" (ngSubmit)="onSubmit()">
            <input type="number" placeholder="Enter Gold 22K rate in Rs" formControlName="gold22" id="gold22" required>
            <input type="number" placeholder="Enter Gold 24K rate in Rs" formControlName="gold24" id="gold24" required>
            <input type="number" placeholder="Enter Gold 18K rate in Rs" formControlName="gold18" id="gold18" required>
            <input type="number" placeholder="Enter Silver rate in Rs" formControlName="silver" id="silver" required>
            <input type="number" placeholder="Enter GST in percentage" formControlName="gst" id="gst" required>
            <button type="submit" class="bg-rose-500 px-5 py-3 text-white rounded w-full bo-ra5 cupo">Update Gold and
                Silver Rates</button>
        </form>
    </div>
    <div class="content" *ngIf="selectedDiv === 5">
        <!-- Form for Adding or Updating Delivery Charges -->
         <h2>Add New Delivery Charge</h2>
        <form [formGroup]="deliveryChargeForm" (ngSubmit)="onAddingChargeUpdate()">
            <div>
                <label for="pincode">Pincode:</label>
                <input id="pincode" formControlName="pincode" />
                <span *ngIf="deliveryChargeForm.get('pincode')?.invalid && deliveryChargeForm.get('pincode')?.touched">
                    Please enter a valid 6-digit pincode.
                </span>
            </div>

            <div>
                <label for="charge">Delivery Charge:</label>
                <input type="number" id="charge" formControlName="charge" />
                <span *ngIf="deliveryChargeForm.get('charge')?.invalid && deliveryChargeForm.get('charge')?.touched">
                    Please enter a valid charge.
                </span>
            </div>

            <button type="submit" class="bg-rose-500 px-5 py-3 text-white rounded w-full bo-ra5 cupo"
                [disabled]="deliveryChargeForm.invalid">Submit</button>
        </form>

        <!-- Display Existing Delivery Charges
        <h3>Existing Delivery Charges</h3>
        <table>
            <thead>
                <tr>
                    <th>Pincode</th>
                    <th>Charge</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let charge of deliveryCharges">
                    <td>{{ charge.pincode }}</td>
                    <td>{{ charge.charge }}</td>
                </tr>
            </tbody>
        </table> -->
    </div>
    <div class="content" *ngIf="selectedDiv === 6">
        <h2>Update Previous Delivery Charges</h2>
        <form (ngSubmit)="onUpdatingCharges()">
            <label for="pincode">Enter the Pincode already present :</label>
            <input id="pincode" type="text" [(ngModel)]="pincode" name="pincode" required>
    
            <label for="charge">Enter New Delivery Charge:</label>
            <input id="charge" type="number" [(ngModel)]="charge" name="charge" required>
    
            <button type="submit" class="bg-rose-500 px-5 py-3 text-white rounded w-full bo-ra5 cupo">Update</button>
        </form>
    
        <div *ngIf="message" class="message">
            {{ message }}
        </div>
    </div>
    <div class="content" *ngIf="selectedDiv === 7">
        <h2>Update Product By Id</h2>
        <form (ngSubmit)="fetchProductDetails()">
    
            <label for="charge">Enter Product Id:</label>
            <input id="productId" type="text" [(ngModel)]="productId" name="productId" placeholder="Enter Product Id" required>
    
            <button type="submit" class="bg-rose-500 px-5 py-3 text-white rounded w-full bo-ra5 cupo">Navigate to Product</button>
        </form>
    </div>
</div>