<div class="space-top"></div>
<div class="flex justify-center">
  <app-title class="text-center" title="Terms and Conditions" margin="0 0 0 0" color="#616161" fontSize="40px"></app-title>
</div>
<div class="content content-1"> 
  <h3 class="text-xl text-center">Greetings</h3>
  <p>
    The Charges to Make/receive payment specified in here includes tax,
    hallmark, procurement, wastage, Making charges imitation Stones, Precious
    stones, artisan work, logistics and other inclusive, etc.
  </p>
  <p>Gold, wastage and making charges are calculates on gross weight only.</p>
  <p>
    The first party further agreed to exchange its 'MIRROR Diamond' products
    after deducting 5% on the cost of 1 party Shown above
  </p>
</div>
<div class="content content-2">
  <h3 class="">Declaration</h3>
  <p>
    I have read, understood, and accept the terms and conditions mentioned
    above, the guidelines regarding quality specified at the backside of this
    invoice; were explained to me in tamil
  </p>
  <p>
    Hereby, indicating the acceptance for above terms & Conditions, received the
    product in good condition, and, doing the Payment.
  </p>
  <p>I further acknowledge the amount stated is correct and accurate.</p>
</div>
<div id="quality" class="content content-3">
  <h3 class="">Quality Certification</h3>
  <p>
    Dear Customer, We are very happy and grateful for your purchase of gold,
    silver and diamond jewelery from us.
  </p>
  <p>
    Every piece of jewelery you buy at Gold Palace is crafted from carefully
    selected gold and silver, designed by our dedicated designers and we are
    delighted to present it to you.
  </p>
</div>
<div id="exchange" class="content content-4">
  <h3 class="">Exchange Policy</h3>
  <p>
    Gold, Silver and Diamond Jewelery purchased from us for Sale or Exchange
    will be accepted subject to Exchange & Cash Paid terms.
  </p>
  <p>
    Gold jewelery purchased from us can be exchanged at the market price. The
    commission, damages, cost of Hall Mark stones, taxes etc. paid for your
    jewelry will not be calculated for Exchange, only the net gold weight will
    be calculated.
  </p>
  <p>
    When exchanging or selling products purchased from us, the net weight is
    calculated by removing the weight of dirt, stones, and enamel.
  </p>
  <p>
    5% will be deducted from the diamond price of the day when you exchange the
    diamond items purchased from us for new diamond units. Gold will be valued
    at the market price of the day.
  </p>
  <p>
    When the diamond purchased from us is exchanged for gold and silver
    products, the current diamond/platinum price will be assessed after
    deducting 10 percent of the current diamond discount offered to you from the
    current market price for gold.
  </p>
  <p>
    If you want to exchange (Exchange) or sell (Sales) the gold, silver, and
    diamond ornaments purchased from us, you need our Sales Invoice. And when
    doing exchange or cash paid for diamonds, the quality certificate of the
    item is required.
  </p>
  <p>
    Items sold (Precious Stones, Gift Articles & Silver Jewelery) are
    non-returnable
  </p>
</div>
<div id="returnProduct" class="content content-5">
  <h3 class="">PRODUCT RETURN POLICY</h3>
  <p>
    If the customer has to return the goods purchased from us for any reason
    (Sales Return) within 3 days from the date of sale, if the bill of the goods
    (Sales invoice) is submitted, subject to administrative law schemes,
    replacement
  </p>
  <p>
    Only exchangeable in kind and non-refundable in cash. Kolpilus management is
    not responsible for damages (Breaking, Scorches & Filling of stones etc.)
    due to user's carelessness due to the light weight collection of our
    company's jewellery.
  </p>
</div>
<div id="orderRepair" class="content content-6">
  <h3 class="">ORDER AND REPAIR</h3>
  <p>
    For Customized Order with us only 50 percent advance payment will be
    accepted. Orders will be placed at the gold and silver prices prevailing on
    that date. Management is not responsible for market price fluctuation.
  </p>
  <p>
    If the silver darkens due to body heat, humid air, salt water and keeping
    the silver in an iron box, it will be polished. (Polish Charge) cannot be
    exchanged in case of any repairs to the goods purchased from us or any
    damage to the stones for the terms
  </p>
  <p>They will be fixed accordingly. Cannot be replaced with repair charge.</p>
</div>
<div class="content content7" id="shipping">
  <h3>SHIPPING POLICY</h3>
  <p>
    The management of Gold Palace Jewellery is happy to provide secured shipping to the customers for the purchased
    orders within
    the geographical boundary of India. The operations team and their associates strive in ensuring the delivery is made
    accurately in perfect condition and on time. At present the delivery is available in selected towns/cities. However,
    on demand of customer, with an additional shipping charge, shipment can be made for other cities or interior part of
    some cities. For some parts of the city, customer may have to visit the courier office to collect the shipments. Do
    confirm it with goldpalace.com. The user must provide the full name (as provided in proof), full address in detail,
    contact
    number of the recipient (user). The proof of recipient is verified with government approved identity proof.
  </p>
  <p>
    Gold Palace aims to deliver the shipments in 7 to 21 working days, subject to the availability (Refer ’Product
    Availability’ section) of the products in the showrooms or at warehouse or in the factory. There may be some delay
    which
    may take more than 7 to 21 working days to procure or to design. In such case, the customer will be promptly
    communicated and made aware of the situation. Delivery guarantee is subject to the terms and conditions of the
    shipping
    agent or the courier company. Any inaccuracy in the name or address or inconsistency of the recipient’s presence
    during
    delivery shall result in non delivery of the product. Estimated duration for delivery indicated in Terms and
    Conditions
    commence from the date of dispatch and are for guidance purpose only and may vary invariably. The order will be
    processed to shipping only after the credit/debit card number given/provided is approved by the bank.
  </p>
  <p>
    The shipment shall be delivered only to the specified delivery address confirmed by the user. Customers have the
    option
    of changing the delivery address any number of times before the order is processed for shipment. Once the shipment
    is
    processed, neither the specified receiver of the delivery nor the specified address for delivery shall be changed.
    Any
    number of products ordered for a single delivery address will be bundled together and shipped as single shipment.

    In case of shipping the ’gifts’, the beneficiary must produce their proof of identification recognized as
    identification
    proof by the Government of India. Signature of the recipient is considered as acknowledgment and for verification.

    The support team of Gold Palace may contact you to confirm your address, availability etc before shipping the
    product.
    The shipment can be tracked by the customer by checking with the courier agent. We are not responsible for any
    delays
    caused by courier agencies and/or due to time required for statutory clearances during the delivery process.
  </p>
  <p>
    If you suspect that the shipment delivered to you to be ’not in good condition’ or ’attempted for tampering’ or if
    the
    package of shipment is tampered, you shall refuse to acknowledge the receipt and return the same before accepting
    the
    shipped package.

    In case, the authorized recipient is unavailable to receive and acknowledge the package, the courier agent may try
    to
    deliver twice after the first delivery as per their policy. If the recipient didn’t receive in all the three
    attempts,
    the package will be shipped back to the office of Gold Palace Jewellery Ltd and all the cost incurred through the
    shipment shall be borne by the customer along with the handling charges. The customer shall also bear the shipping
    charges when shipped again. Refer ’Cancellation Terms’ section if in case the customer cancels after the failed
    delivery.
  </p>
  <p>
    Gold Palace Jewellery takes special care in packaging user’s precious purchase. The jewels purchased are secured in
    a
    shockproof metal box, layered with durable and tamper proof seal from TMJL. Every packing is video covered for
    security
    reason. If user requests for special gift pack, Gold Palace.com will gift wrap it along with the words you wish your
    recipient to receive.
  </p>
</div>
<div id="refund" class="content content-8">
  <h3 class="">REFUND POLICY</h3>
  <p>
    Gold jewelery and coins purchased from us are valued at 5% of the market
    price of the day after removal of stone, dirt and enamel at the time of
    sale.
  </p>
  <p>
    When the diamond purchased from us is exchanged for cash (Cash Paid), all
    the above terms are subject to our administrative regulations, which are
    assessed after 15% of the current diamond price after deducting the discount
    for the diamond given to you. Terms of Service are subject to change.
  </p>
</div>