<div class="w-full contact">
    <app-title class="text-center" fontSize="40px" title="Contact Us" margin="0 0 1.5rem 0rem"></app-title>
    <div class="content">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <label for="">Name<span>*</span></label>
            <input type="text" placeholder="Enter Your Name" formControlName="name" id="name" required>
            <label for="">Phone No.<span>*</span></label>
            <input type="number" placeholder="Enter Your Mobile Number" formControlName="number" id="number" required>
            <label for="">Email<span>*</span></label>
            <input type="email" placeholder="Enter Your Email" formControlName="email" id="email" required>
            <label for="">How can we help you?<span>*</span></label>
            <textarea type="text" placeholder="Write your thoughts" formControlName="message" id="message"
                required></textarea>
            <button type="submit" class="bg-red-700 px-5 py-3 text-white rounded w-full bo-ra5 cupo">Get Help</button>
        </form>
        <div class="address">
            <app-title class="text-center text-white font-bold" fontSize="40px" title="Contact Detalis"></app-title>
            <br>
            <div class="flex cont-adds">
                <div class="mb-2">
                    <div class="flex justify-center items-center w-12 h-12 text-white rounded bg-red-700"><i
                            class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="ml-2">
                        <p class="text-center"><strong>1</strong> - Main Road, Avinashi - 641 554</p>
                        <p class="text-center"><strong>2</strong> - 10, N.H. ROAD, opp. NARASHIMA TEMPLE, Ukkadam,
                            Coimbatore</p>
                    </div>
                </div>
                <div class="mb-2">
                    <div class="flex justify-center items-center w-12 h-12 text-white rounded bg-red-700"><i
                            class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="ml-2 flex flex-col whatsapp">
                        <a href="tel:6382584853"><strong>Phone 1</strong>: 9025567759</a>
                        <a href="tel:6382584853"><strong>Phone 2</strong>: 8122727252</a>
                        <a href="tel:6382584853"><strong>Phone 3</strong>: 8148447211</a>
                        <a href="tel:6382584853"><strong>Phone 4</strong>: 8148925211</a>
                    </div>
                </div>
                <a class="mb-2 flex flex-col gmail">
                    <div class="flex flex-col items-center gap-2">
                        <div class="flex justify-center items-center w-12 h-12 text-white rounded bg-red-700">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </div>
                        <div class="ml-2 flex flex-col">
                            <a href="mailto:gpjavinashi916@gmail.com">gpjavinashi916&#64;gmail.com</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>