<div class="space-top"></div>
<div class="md:w-2/5 content flex items-center mx-w mx-auto">
    <p>{{updateMsg}}</p>
    <form #updateproduct="ngForm" (ngSubmit)="updateProduct(updateproduct.value)" class="w-full flex flex-col">
        <input type="text" placeholder="Enter Product Name" name="name" ngModel="{{product.name}}" />
        <input type="text" placeholder="Enter Display image with extension" name="imageDis" ngModel="{{product.imageDis}}" />
        <input type="text" placeholder="Enter Hover image with extension" name="imageHov" ngModel="{{product.imageHov}}" />
        <textarea type="text" placeholder="Product Description" name="description" ngModel="{{product.description}}"></textarea>
        <input type="text" placeholder="Enter Metal Type" name="metalType" ngModel="{{product.metalType}}" />
        <input type="text" placeholder="Category1, Category2, .." name="category" ngModel="{{product.category}}" />
        <input type="number" placeholder="Enter Product Price" name="price" ngModel="{{product.price}}" />
        <input type="number" placeholder="Enter Product Weight in grams" name="weight" ngModel="{{product.weight}}" />
        <input type="number" placeholder="Making Cost in Rs" name="mc" ngModel="{{product.mc}}" />
        <input type="number" placeholder="Size of Product" name="size" ngModel="{{product.size}}" />
        <input type="number" placeholder="Stock Available" name="stock" ngModel="{{product.stock}}" />
        <input type="number" placeholder="Wastage in %" name="wastage" ngModel="{{product.wastage}}" />
        <button class="bg-red-700 px-5 py-3 text-white rounded w-full bo-ra5 cupo">
            Update Product
        </button>
    </form>
</div>