.content {
    width: 35rem;
    margin-right: 3rem;
}

.content,
form {
    display: flex;
    flex-direction: column;
}

.buttons-container {
    flex-basis: 100%;
}

.buttons {
    margin: 2rem;
    width: 35rem;
}

button {
    color: white;
    background-color: #e72929;
    height: 3rem;
    opacity: 0.8;
    font-size: 1.3rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px 2px grey;
}

button:hover {
    opacity: 1;
}

.quieries {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quieries h3 {
    font-size: 20px;
}

.quieries .fa-phone {
    padding: 15px 15px 15px 15px;
    font-size: 30px;
    background-color: #16a2f1;
    color: white;
    border-radius: 5px;
    margin: 10px;
}

.quieries .fa-whatsapp {
    padding: 15px 15px 15px 15px;
    font-size: 30px;
    background-color: #2caf45;
    color: white;
    border-radius: 5px;
    margin: 10px;
}

.quieries .fa-envelope-o {
    padding: 15px 15px 15px 15px;
    font-size: 30px;
    background-color: #800f00;
    color: white;
    border-radius: 5px;
    margin: 10px;
}

@media screen and (max-width: 768px) and (min-width: 300px) {
    .content {
        margin: 0 1%;
        max-width: 440px;
    }

    .quieries {
        margin-top: 20px;
        width: 85%;
    }

    .quieries h3{font-size: 17px;}

    .content form {
        width: 79%;
        margin: 0 auto;
    }
}