.price-break {
  width: 470px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 50px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal.active {
  display: block !important;
}
.active {
  display: block;
}
.modal-img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 100px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input,
textarea {
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  outline: none;
  border: 1px solid #fc4262;
}
input::placeholder,
textarea::placeholder {
  color: black;
  opacity: 0.6;
}
.toggle a {
  background-color: #fc4262;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.review p {
  font-size: 30px;
  margin: 20px 0;
}
.review form input:nth-child(2),
.review form input:nth-child(1) {
  display: none;
}
.product-details {
  background-color: #e5e7eb;
  padding: 40px 0 60px;
}
.product-details .flex {
  text-transform: uppercase;
  max-width: 700px;
  margin: 0 auto;
  padding: 10px 0;
}
.product-details .heading {
  font-weight: bold;
  width: 25%;
}
@media only screen and (max-width: 550px) {
  .modal-content {
    width: 100%;
  }
}

.button-36 {
  background-color: #ff0f39c7;
  color: #ffffff;
  font-weight: 500;
  height: 3rem;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 10px;
}

.button-36:hover {
  box-shadow: #ff0f39c7;
  transition-duration: 0.1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}
