<div class="space-top"></div>
<div class="mx-w flex flex-wrap justify-center order-summary">
    <div class="content flex flex-col">
        <app-title class="text-center" title="Order Summary" fontSize="1.6rem"></app-title>
        <div class="summary">
            <div class="flex">
                Name: <span>{{order.name}}</span>
            </div>
            <div class="flex">
                Address: <span>{{order.address}}</span>
            </div>
            <div class="flex">
                Pincode:<span>{{order.pincode}}</span>
            </div>
        </div>
        <order-items-list [order]="order"></order-items-list>
    </div>
    <div class="buttons-container flex justify-center mx-w mx-auto">
        <div class="buttons flex justify-center">
        </div>
    </div>
</div>