<div class="footer bg-gray-800 mt-5 flex flex-col items-center md:block">
  <ul class="text-white md:items-start py-5 flex md:justify-around justify-center p-2 md:flex-row flex-col">
    <li class="logo">
      <img src="{{baseurl}}/uploads/goldPalaceLogo.png" alt="">
    </li>
    <li>
      <p>Let us help you</p>
      <div class="w-52">
        <a href="" routerLink="/contact">Contact Us</a>
        <a href="" routerLink="/contact">How can we help you?</a>
      </div>
    </li>
    <li>
      <p>Policies</p>
      <div class="w-52">
        <a [routerLink]="['/terms-conditions']" fragment="exchange">Exchange Policy</a>
        <a [routerLink]="['/terms-conditions']" fragment="returnProduct">Product Return Policy</a>
        <a [routerLink]="['/terms-conditions']" fragment="orderRepair">Order & Repair</a>
        <a [routerLink]="['/terms-conditions']" fragment="shipping">Shipping Policy</a>
        <a [routerLink]="['/terms-conditions']" fragment="refund">Refund Policy</a>
      </div>
    </li>
    <li>
      <p>Information</p>
      <div class="w-52">
        <a [routerLink]="['/terms-conditions']" fragment="quality">Quality Certification</a>
        <a routerLink="/terms-conditions">Terms & Conditions</a>
        <a routerLink="/metalType/gold">Search Gold Products</a>
        <a routerLink="/metalType/silver">Searchh Silver Products</a>
        <a routerLink="/metalType/diamond">Searchh Diamond Products</a>
      </div>
    </li>
    <li class="contactus">
      <p>Contact Us</p>
      <div class="w-80">
        <a href="https://wa.me/6382584853" class="flex items-center">
          <i class="fa fa-whatsapp" aria-hidden="true"></i> 1234567890
        </a>
        <a href="" class="flex items-center">
          <i class="fa fa-envelope-o" aria-hidden="true"></i> goldpalace9162&#64;gmail.com
        </a>
        <a>57QC+H68, to, Annur, Avinashi</a>
        <a>10, N.H. ROAD, opp. NARASHIMA TEMPLE, Ukkadam, Coimbatore</a>
      </div>
    </li>
  </ul>
  <hr>
  <div>
    <h2>Follow Us</h2>
    <div class="social">
      <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>
    </div>
  </div>
</div>