<div class="footer bg-gray-800 mt-5 flex flex-col items-center md:block">
  <ul class="text-white md:items-start py-5 flex md:justify-around justify-center p-2 md:flex-row flex-col">
    <li class="logo">
      <a href="/" ><img src="{{baseurl}}/uploads/goldPalaceLogo.png" alt=""></a>
    </li>
    <li>
      <p>Policies</p>
      <div class="w-52">
        <a [routerLink]="['/terms-conditions']" fragment="exchange">Exchange Policy</a>
        <a [routerLink]="['/terms-conditions']" fragment="returnProduct">Product Return Policy</a>
        <a [routerLink]="['/terms-conditions']" fragment="orderRepair">Order & Repair</a>
        <a [routerLink]="['/terms-conditions']" fragment="shipping">Shipping Policy</a>
        <a [routerLink]="['/terms-conditions']" fragment="refund">Refund Policy</a>
      </div>
    </li>
    <li>
      <p>Information</p>
      <div class="w-52">
        <a [routerLink]="['/terms-conditions']" fragment="quality">Quality Certification</a>
        <a routerLink="/terms-conditions">Terms & Conditions</a>
        <a routerLink="/metalType/gold">Search Gold Products</a>
        <a routerLink="/metalType/silver">Searchh Silver Products</a>
        <a routerLink="/metalType/diamond">Searchh Diamond Products</a>
      </div>
    </li>
    <li class="contactus">
      <p>Contact Us</p>
      <div class="w-80">
        <a href="https://wa.me/8122727252" class="flex items-center" target="_blank">
          <i class="fa fa-whatsapp" aria-hidden="true"></i> 8122727252, 9025567759
        </a>
        <a href="mailto: gpjavinashi916@gmail.com" class="flex items-center">
          <i class="fa fa-envelope-o" aria-hidden="true"></i> gpjavinashi916&#64;gmail.com
        </a>
        <a><strong>Address : </strong>57QC+H68, to, Annur, Avinashi</a>
        <a><strong>Address : </strong>10, N.H. ROAD, opp. NARASHIMA TEMPLE, Ukkadam, Coimbatore</a>
      </div>
    </li>
    <li>
      <div class="content">
        <p>Let us help you</p>
        <div class="w-52">
          <a href="" routerLink="/contact">Contact Us</a>
          <a href="" routerLink="/contact">How can we help you?</a>
        </div>
      </div>
      <div class="playstore-link mt-5">
        <a href="https://play.google.com/store/apps/details?id=app.agaramsolutions.chit_goldpalace.twa" target="_blank">
          <img src="assets/images/playstore.png" alt="google play store">
        </a>
      </div>
    </li>
  </ul>
  <hr>
  <div>
    <h2>Follow Us</h2>
    <div class="social">
      <a href="https://www.facebook.com/p/Gold-Palace-100065161441741/" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/gold_palace_jewellry/" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="https://www.youtube.com/@goldpalaceavinashi5066" target="_blank"><i class="fa fa-youtube"></i></a>
    </div>
  </div>
</div>