<div class="footer bg-gray-800 mt-5 flex flex-col items-center md:block">
  <ul class="text-white md:items-start py-5 flex md:justify-around justify-center p-2 md:flex-row flex-col">
    <li class="logo">
      <img src="http://localhost:3000/uploads/goldPalaceLogo.png" alt="">
    </li>
    <li>
      <p>Let us help you</p>
      <div class="w-52">
        <a href="" routerLink="/contact">Contact Us</a>
        <a href="" routerLink="/contact">How can we help you?</a>
      </div>
    </li>
    <li>
      <p>Policies</p>
      <div class="w-52">
        <a [routerLink]="['/terms-conditions']" fragment="exchange">Exchange Policy</a>
        <a [routerLink]="['/terms-conditions']" fragment="returnProduct">Product Return Policy</a>
        <a [routerLink]="['/terms-conditions']" fragment="orderRepair">Order & Repair</a>
        <a [routerLink]="['/terms-conditions']" fragment="shipping">Shipping Policy</a>
        <a [routerLink]="['/terms-conditions']" fragment="refund">Refund Policy</a>
      </div>
    </li>
    <li>
      <p>Information</p>
      <div class="w-52">
        <a [routerLink]="['/terms-conditions']" fragment="quality">Quality Certification</a>
        <a href="/terms-conditions">Terms & Conditions</a>
        <a href="">Site Index</a>
        <a href="">Store Location</a>
        <a href="">Blog</a>
      </div>
    </li>
    <li>
      <p>Contact Us</p>
      <div class="w-56">
        <a href="">WhatsApp: 1234567890</a>
        <a href="">Mail: goldpalace9162&#64;gmail.com</a>
        <a>Main Road, Avinashi - 641 544</a>
        <a>Main Road, Avinashi - 641 544</a>
      </div>
    </li>
  </ul>
  <hr>
  <div>
    <h2>Follow Us</h2>
    <div class="social">
      <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>
    </div>
  </div>
</div>