<div class="cont bg-gray-100 py-9">
    <div class="mx-w mx-auto category">
        <div class="flex justify-between items-center pb-8">
            <hr class="w-32 md:w-2/5 ml-3 md:ml-0">
            <h2 class="md:w-80 w-72 md:text-xl">BROWSE OUR CATEGORIES</h2>
            <hr class="w-32 md:w-2/5 mr-3 md:mr-0">
        </div>
        <div class="items flex flex-wrap justify-around md:justify-between">
            <a routerLink="/category/gold/earing" class="hover:shadow relative">
                <img src="assets/images/gold/simpleGoldEaring-1-d.jpg" alt="">
                <div class="flex justify-between cate">
                    <h3 class="">Earings</h3>
                </div>
                <div class="exp-mo">Explore More ></div>
            </a>
            <a routerLink="/category/gold/ring" class="hover:shadow relative">
                <img src="assets/images/gold/elegantFlowerRing-1-d.jpg" alt="">
                <div class="flex justify-between cate">
                    <h3 class="">Earings</h3>
                </div>
                <div class="exp-mo">Explore More ></div>
            </a>
            <a routerLink="/category/gold/necklace" class="hover:shadow relative">
                <img src="assets/images/gold/peacockNecklace-1-d.jpg" alt="">
                <div class="flex justify-between cate">
                    <h3 class="">Earings</h3>
                </div>
                <div class="exp-mo">Explore More ></div>
            </a>
            <a routerLink="/category/gold/bangles" class="hover:shadow relative">
                <img src="assets/images/gold/goldBangle-1-d.jpg" alt="">
                <div class="flex justify-between cate">
                    <h3 class="">Earings</h3>
                </div>
                <div class="exp-mo">Explore More ></div>
            </a>
        </div>
    </div>
</div>